.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #91639a;
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    width: 92%;
  }
  
  label[for="username"],
  label[for="password"] {
    line-height: 38px; 
  }
  

  button[type="submit"] {
    background-color: #91639a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  